# Rama feature/pyqt6 — PyQt6 + WebEngine
PyQt6>=6.6.0
PyQt6-WebEngine>=6.6.0
python-escpos
pywin32
openpyxl
python-barcode
pillow
matplotlib
requests
pyttsx3
comtypes
pypiwin32
pyserial
pymysql
xlrd
numpy
