# Orden de instalacion por PRIORIDAD DE USO
# 1. Hardware inmediato (impresora, cajon, scanner)
python-escpos
pywin32
pyserial
# 3. Codigos de barra
python-barcode
# 5. Extras opcionales
pyttsx3
comtypes
pypiwin32
