/* Auxiliar. Rosa. Va después del azul y le gana. */
Paso5Terminal[theme="light"][cajero_perfil="auxiliar"] {
    background-color: #FDF2F8 !important;
}
Paso5Terminal[theme="light"][cajero_perfil="auxiliar"] QFrame#TerminalCabecera,
Paso5Terminal[theme="light"] QFrame#TerminalCabecera[perfil_color="rosa"] {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #BE185D, stop:1 #F472B6) !important;
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #BE185D, stop:1 #F472B6) !important;
    border: none !important;
}
Paso5Terminal[theme="light"][cajero_perfil="auxiliar"] QFrame#TerminalSideBox {
    background: #BE185D !important;
    border-color: #9D174D !important;
}
Paso5Terminal[theme="light"][cajero_perfil="auxiliar"] QFrame#TerminalStatusBar {
    background: #FCE7F3 !important;
    border-top: 1px solid #FBCFE8 !important;
}
Paso5Terminal[theme="light"][cajero_perfil="auxiliar"] QFrame#TerminalTablaContainer,
Paso5Terminal[theme="light"] QFrame#TerminalTablaContainer[perfil_color="rosa"] {
    border: 2px solid #DB2777 !important;
    border-bottom: 4px solid #9D174D !important;
}
Paso5Terminal[theme="light"][cajero_perfil="auxiliar"] QFrame#PanelTotales {
    border-color: #DB2777 !important;
    border-bottom: 4px solid #9D174D !important;
}

Paso5Terminal[theme="dark"][cajero_perfil="auxiliar"] {
    background-color: #4C0519 !important;
}
Paso5Terminal[theme="dark"][cajero_perfil="auxiliar"] QFrame#TerminalCabecera,
Paso5Terminal[theme="dark"] QFrame#TerminalCabecera[perfil_color="rosa"] {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #831843, stop:1 #BE185D) !important;
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #831843, stop:1 #BE185D) !important;
    border: none !important;
}
Paso5Terminal[theme="dark"][cajero_perfil="auxiliar"] QFrame#TerminalSideBox {
    background: #831843 !important;
    border-color: #9D174D !important;
}
Paso5Terminal[theme="dark"][cajero_perfil="auxiliar"] QFrame#TerminalStatusBar {
    background: #4C0519 !important;
    border-top: 1px solid #831843 !important;
}
Paso5Terminal[theme="dark"][cajero_perfil="auxiliar"] QFrame#TerminalTablaContainer,
Paso5Terminal[theme="dark"] QFrame#TerminalTablaContainer[perfil_color="rosa"] {
    border: 2px solid #9D174D !important;
    border-bottom: 4px solid #4C0519 !important;
}
Paso5Terminal[theme="dark"][cajero_perfil="auxiliar"] QFrame#PanelTotales {
    border-color: #9D174D !important;
    border-bottom: 4px solid #4C0519 !important;
}
